
<html>
    <body class="col">

    <section class="col-1">

    <section class="col-1-1">
        
        <h1 class="title-1">Launching the New React/Redux Curriculum</h1>
        <h5>By APP ACADEMY INSTRUCTIONAL TEAM</h5>
        
        <p>It helps you write applications that behave consistently, run in different environments(client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
        The whole state of your app is stored in an object tree inside a single store.The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
        </p>
        <a class="comment" href=""><%= counter = 1738 %> Comments</a>
    </section>


    <section class="col-1-2">
        <iframe width=100% height=100% src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <span>Warning: This video will make you want to change your career</span>
    </section>


    <section class="col-1-3">
        <h3 class="title-1">Where Are They Now?<h3>
        <h5>By APP ACADEMY ALUMNI</h5>
        <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
        </p>

        <h3 class="title-1">Cat Academy<h3>
        <h5>By APP ACADEMY DIRECTOR OF PRODUCTS</h5>
        <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
        </p>
    </section>
    
    </section>

    <section class="col-2">
    
        <h2 class="first_part">The Opinion Pages</h2>

        <div class="second_part">

            <section class="col-2-1">   
                
                <h3 class="title-3">Op-Ed Contributor</h3>

                <h3 class="title-4">Will Javascript ever be as easy as Ruby?</h3>

                <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
                    <ul>
                        <li>Torvalds: When I Was Almost Wrong</li>
                        <li>Knuth: Art of Programming</li>
                        <li>Lovelace: The First Algorithm</li>
                        <li>Hopper: The First Bug</li>
                        <li>Thompson: Go C Unix</li>
                        <li>Carmack: My Virtual Reality</li>
                        <li>Stallman: Free Speech Not Free Coffee</li>
                    </ul>
                </p>
            </section>

            <section class="col-2-2">

                <h3 class="title-3">Operations</h3>

                <h3 class="title-4">App Academy New York Has A Brand New Office</h3>
                
                <h5>By NY OPERATIONS</h5>

                <img class="thumbnail" src="assets/new_office.jpg" alt="new office">

                <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.

                Opinion Today, in your Inbox
                Each weekday, get though-provoking commentary from our columnists and contributors.
                </p>
            </section>
        </div>

    </section>

    <div class="signup">
        Sign Up

        We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
    </div>     
            
</body>

</html>