<h1>Create an Account</h1>

<form action="<%= users_url %>" method="POST">

  <label for="user-email">Email</label>
  <input type="email" 
    name="user[email]" 
    id="user-email" 
    value="<%= @user.email %>" />

  <label>
    Location
    <select name="user[location_id]">
      <option>-</option>
      <% Location.all.each do |location| %>
      <option value="<%= location.id %>">
        <%= location.name %>
      </option>
      <% end %>
    </select>
  </label>

  <input type="submit" value="Create my free account!" />

</form>