<h1>Edit the bleat!</h1>

<form action="<%= bleat_url(@bleat.id) %>" method="POST">

  <input type="hidden" name="_method" value="PUT">

  <ul>
  <% @bleat.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>

  <label>
    Body
    <input type="text" name="bleat[body]" value="<%= @bleat.body %>" />
  </label>

  <label for="bleat-author_id">Author ID</label>
  <input id="bleat-author_id" 
    type="number" 
    name="bleat[author_id]" 
    value="<%= @bleat.author_id %>" />

  <button>Update the bleat!</button>

</form>